.container {
    display: grid;
    background-color: rgb(219, 230, 242);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.item {
    background-color: #00f;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
.item7 {
    background-color: rgb(3, 250, 151);
    color: black;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}