.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 15px 30px;
}
.item {
    background-color: #00f;
    border-radius: 25px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}